<!DOCTYPE html> 
<html>

<head><link rel="stylesheet" type="text/css" href="css/style_iframe.css" title="default"/>

<title>rfrl.us: Add</title>
    <script src='js/name.js'></script>
    <script src='js/ajax.js'></script>
</head>

    <body>
      <h1>rfrl.us</h1>

    {% if aURL %}
        <p>I noticed that the URL you are shortening is from Amazon.  Perhaps would would prefer a shorter Amazon URL to use: <br/>
	  <a href="{{aURL}}">{{aURL}}</a></p>
    {% endif %}


    {% if eURL %}
        <p>I noticed that the URL you are shortening is from eBay.  Perhaps would would prefer a shorter eBay URL to use: <br/>
	  <a href="{{eURL}}">{{eURL}}</a>
	  </p>
    {% endif %}
    <p>Your shortcut is: <a href="{{shortcutUrl}}">{{shortcutUrl}}</a></p>

    <h2>Mail it!</h2>
    <p>Click <a href='mailto:?body={{shortcutURL}}'>here</a> to open a 
      message in your local mail program.</p>

    <h2>Customize?</h2>
    <p>You are limited to a maximum of 20 characters.<br />
      Special characters will be replaced with URL safe replacement 
      characters.</p>
    <div id="custom">

    <div id="errField"></div>

    {% if name %}
        <p><a href="{{namedShortcut}}">{{namedShortcut}}</a></p>
    {% endif %}
    {% if not name %}
        <form method="post" action="name" onsubmit="setName(); return false;" id="nameForm">
        {{baseUrl}}r/<input type="text" name="n" value="{{name}}">
         <input type="submit" value="Name" />
        </form>
    {% endif %}

    </div>

    <hr/>
    <p>This service is brought to you by 
      <a href="http://jdboyd.net/">JDBoyd.net</a>.</p>

</body>
<html>
